/* login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Ensure full height of the viewport */
}

input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: #007bff;
  color: #fff;
}

.register-button {
  background-color: #28a745;
  color: #fff;
}
