body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
     /* Background color instead of image */
    position: relative;
}

.home-heading {
    color: #333;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Align buttons in the center */
}

.button-group {
    margin: 0 10px; /* Adjust margin between button groups */
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-image {
    width: 250px; /* Adjust image width as needed */
    height: 250px; /* Adjust image height as needed */
    margin-bottom: 10px;
    margin-left: 30px;
}

.button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.button-right{
    margin-left: 40px;
}

.button:hover {
    background-color: #0056b3;
}
